// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contentList
{
	padding: 0;
	margin: 0;
}

.analysis
{
	width: 74%;	
}

.page
{
    background-color: #e2e9fd;
    padding: 0.6em;
}

.page h2
{
	color: #a2a9bd;
	margin: 0.2em 0 1.4em 0;
	padding-bottom: 0.2em;
	font-size: 2.8em;
	text-align: center;
}

.tweets 
{
	width: 26%;
	height: 100%;
	overflow: none;
}

.tweets h2
{
	color: #e2e9fd;
	margin: 0.2em 0 0.4em 0;
	font-size: 3em;
	text-align: center;
}

.tweets ul
{
	margin: auto;
	width: 86%;
    height: 100%;
    overflow: none;
}

.tweets li
{
	font-size: 0.8em;
	float: left;
	width: 100%;
	background-color: #e2e9fd;
	list-style-type: none;
	margin-bottom: 1em;
}

.tweets .content
{
	padding: 0.6em;
	float: left;
	background-color: #fff;
	color: #202020;
}

.tweets .sentiment
{
	text-align: right;
	float: right;
	padding: 0.6em;
	width: 40%;
	display: none;
}

.tweets .author
{
	float: left;
	width: 45%;
	padding: 0.6em;
	color: #62697d;
}

.horizontal-bars li
{
	display: block;
	height: 10em;
	margin: 1em;
}

#users, #hashtags
{
	margin: auto;
}

#users
{
	padding: 0 5em 0 5em;
}

#users li
{
	float: left;
	width: 100%;
	margin-bottom: 0.8em;
	position: relative;
}

#users li img
{
	width: 3em;
	height: 3em;
}

#users li div
{
	display: block;
	height: 3em;
	position: absolute;
	top: 0;
	left: 4em;
	z-index: 2;
	width: 0;
}

#users li span
{
	font-size: 1.1em;
	height: 1.3em;
	display: block;
	position: absolute;
	top: 0.9em;
	left: 4.5em;
	z-index:3;
}